@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-inter);
    color: var(--color-orangebrand);
  }
}

@theme {
  --color-orangebrand: #b63920;
  --color-bluebrand: #c3d0d7;
  --color-yellowbrand: #e9e493;
  --color-graybrand: #f1ebe0;

  --font-sans: var(--font-inter);
  --font-instrument-serif: "Instrument Serif", serif;

  --text-base: 1.125rem;
}

@utility font-instrument-serif {
  font-family: var(--font-instrument-serif), "Instrument Serif", serif;
}
